@CHARSET "UTF-8";

/*Register界面css样式*/
*{  
	font-family:"Microsoft Yahei";
	margin:0px;
	padding:0px;
}
body{
    background-image: url("../icons/bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
header{
    display:none;
    border-bottom: 1px solid white;
}
a{
	text-decoration:none;
}
nav{
	height:60px;
}
nav #logo{
    float:left;
    margin-left:50px;
	line-height: 50px;
	padding-left:50px;
	background:url("../icons/logo.png")no-repeat left center;
}
nav #logo a{
    display:inline-block;
    color:#ffffff;
    font-size: 23px;
    font-weight: 600px;
}
nav ul{
    list-style: none;
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
}
nav ul li a{
    color:#ffffff;
    font-size: 13px;
} 
#inner{
    display:none;
    height:600px;
    width:100%;
}
#register{
    padding:20px;
    width:360px;
    height:400px;
    margin: 60px auto;
    background-color: #ffffff;
    font-size:20px;
    color:#000000;
    text-align: center;
    box-shadow: 0 0 8px 8px rgba(0,0,0,0.3);
}
#register input{
    display: block;
    width: 295px;
    height: 40px;
    margin:0 auto;
    margin-top: 30px;
    padding-left: 5px;
    color:#C0C0C0;
}
#register input:HOVER{
    box-shadow: 0 0 1px 1px #46A3FF;
    border: 1px solid rgba(0,0,0,0);
}
#register button{
    border:0;
    width: 300px;
    height: 40px;
    background-color: #46A3FF;
    margin-top: 50px;
    font-size: 15px;
    color: #ffffff;
}
#register button:HOVER{
    background-color:#2894FF;
}
.errorMessage{
	color:red;
	font-size:15px;
}
.errorMessage li{
	list-style:none;
}
footer{
    width:100%;
    height:auto;
    position:absolute;
    top:610px;
    bottom:0px;
    left:0px;
    text-align:center;
    background-color: #666FFF;
    opacity: 0.8;
}
footer ul{
    width:200px;
    margin:0 auto;
    list-style: none;
}
footer ul li{
    margin-top:30px;
    display: inline-block;
    margin-left: 10px;
}
footer label {
	color:#ffffff;
	font-size: 13px;
}